*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.8;
    color: var(--para);
    background-color: #fcfdfd;
}
.container{
    width: 1232px;
    margin: 0 auto;
    border: 1px dotted rgb(214, 3, 241);
}
:root{
    --raileway: "Raleway", sans-serif;
    --heading:#333333;
    --para:#777777;
    /* --para:#000; */ /*[if lighthouse Accessibility 100% ]*/
    --placeholder:#E2E2E2;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
span{
    display: inline-block;
}
ul,ol{
    list-style-type: none;
}
.dFlex{
    display: flex;
}
.commonTitle{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: var(--heading);
}

/* NAV Section Start */
#nav{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 9999999999;
}
.navWrapper{
    position: relative;
    z-index: 2;
}
.logo{
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: #3ED1BA;
}
#nav .dFlex{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #3ED1BA;
}
#nav .dFlex ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1px;
    color: var(--heading);
}
#nav .dFlex ul li {
    width: 120px;
    text-align: center;
}
#nav .dFlex ul li:last-child{
    width: 105px;
    text-align: right;
}
#nav .dFlex ul li a{
    font-size: 24px;
    text-align: center;
    line-height: 38px;
    letter-spacing: 5%;
}
#nav .dFlex ul li:hover a{
    font-weight: 700;
}
/* NAV Section End */

/* Banner Section Start */
#banner{
    padding-top: 180px;
    position: relative;
}
.bannerIllustration{
    width: 1272px;
    height: 1046px;
    /* background: linear-gradient(135deg, #D8FBF6, #FFF3F3); */
    background: linear-gradient(to bottom right, #D8FBF6, #FFF3F3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.bannerWrapper{
    position: relative;
    z-index: 2;
    padding-bottom: 353px;
}
#banner .bannerWrapper .left{
    width: 50%;
}
#banner .bannerWrapper .right{
    width: 50%;
}
#banner .bannerWrapper .left h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 86px;
    color: var(--heading);
    margin-top: 23px;
}
#banner .bannerWrapper .left p{
    max-width: 585px;
    line-height: 32px;
    margin: 24px 0 50px;
}
.iconWrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 40px;
}
.iconWrapper span{
    width: 56px;
    height: 56px;
    font-family: var(--raileway);
    font-size: 24px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    color: #3ED1BA;
    border: 2px solid #3ED1BA;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
#banner .placeholder_1{
    width: 400px;
    height: 480px;
    background-color: var(--placeholder);
    margin-left: 110px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}
#banner .placeholder_2{
    width: 184px;
    height: 251px;
    background-color: #fff;
    padding: 16px 12px 15px;
    position: absolute;
    top: 49px;
    right: 83px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
#banner .placeholder_3{
    width: 160px;
    height: 112px;
    background-color: var(--placeholder);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
#banner .placeholder_2 p{
    font-size: 14px;
    line-height: 24px;
    margin: 15px 2px 0 3px;
}
#banner .placeholder_4{
    width: 458px;
    height: 120px;
    background-color: #fff;
    padding: 12px 20px 12px 17px;
    position: absolute;
    bottom: 48px;
    left: 252px;
    transform: translate(-100%, 100%);
    -webkit-transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 24px;
}
#banner .placeholder_5{
    width: 96px;
    height: 96px;
    background-color: var(--placeholder);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#banner .placeholder_4 p{
    width: 301px;
    font-size: 14px;
    line-height: 24px;
}
.arrowWrapper{
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: -28px;
    transform: translate(100%, 100%);
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
}
.arrowWrapper i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #4505FB;
    border: 5px solid #4505FB;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.arrowWrapper i:last-child{
    margin-left: 27px;
}
#banner .bannerPlaceholderWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 103px);
    -webkit-transform: translate(-50%, 103px);
    -moz-transform: translate(-50%, 103px);
    -ms-transform: translate(-50%, 103px);
    -o-transform: translate(-50%, 103px);
}
#banner .bannerPlaceholderWrapper .bannerPlaceholder{
    width: 296px;
    height: 360px;
    background-color: var(--placeholder);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* Banner Section End */

/* Articles Section Start */
#article{
    position: relative;
    padding-bottom: 200px;
}
.articlesIllustration {
    width: 100%;
    height: 1100px;
    /* background: linear-gradient(135deg, #D8FBF6, #FFF3F3); */
    background: linear-gradient(to bottom right, #D8FBF6, #FFF3F3);
    transform: skewY(10deg);
    -webkit-transform: skewY(12deg);
    -moz-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    -o-transform: skewY(10deg);
    position: absolute;
    left: 0;
    top: 555px;
    z-index: 1;
}
.articlesWrapper{
    margin-top: 223px;
    position: relative;
    z-index: 2;
}
#article .articlesWrapper .dFlex{
    justify-content: space-between;
    align-items: center;
    /* column-gap: 20px; */
    margin-top: 96px;
    background-color: #fff;
    padding: 33px 0;
}
#article .articlesWrapper .dFlex .left {
    width: 40.6%;
}
#article .articlesWrapper .dFlex .right{
    width: 56.4%;
}
#article .articlesWrapper .dFlex .left .placeholder_1 {
    width: 478px;
    height: 424px;
    background-color: var(--placeholder);
    float: right;
}
#article .articlesWrapper .dFlex .right h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    color: var(--heading);
    padding-right: 50px;
    margin-bottom: 10px;
}
#article .articlesWrapper .dFlex .right h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    margin-bottom: 18px;
}
#article .articlesWrapper .dFlex .right p{
    line-height: 32px;
}
#article .articlesWrapper .dFlex .right a{
    color: #3ED1BA;
    /* color: #0114ba; */
    margin-top: 43px;
}
#article .articlesWrapper .cardWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 16px; 
    margin-top: 16px;   
}
#article .articlesWrapper .cardWrapper .card {
    width: 400px;
    background-color: #fff;
    padding: 29px 26px 37px;
}
#article .articlesWrapper .cardWrapper .card .cardHead{
    position: relative;
    margin-bottom: 16px;
}
#article .articlesWrapper .cardWrapper .card .cardHead::after{
    content: "travel";
    color: #fff;
    background-color: #AC8FFF;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: absolute;
    top: 14px;
    right: 12px;
}
#article .articlesWrapper .cardWrapper .card .cardHead .placeholder_1{
    width: 100%;
    height: 200px;
    background-color: var(--placeholder);
}
#article .articlesWrapper .cardWrapper .card .cardBody h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    color: var(--heading);
    margin-bottom: 15px;
}
#article .articlesWrapper .cardWrapper .card .cardBody h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
    margin-bottom: 12px;
}
#article .articlesWrapper .cardWrapper .card .cardBody p{
    line-height: 32px;
    margin-bottom: 43px;
}
#article .articlesWrapper .cardWrapper .card .cardBody a{
    color: #3ED1BA;
}
#article .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 86px;
}
#article .pagination p{
    font-size: 24px;
    color: #000;
}
#article .pagination i{
    font-size: 25px;
}
#article .pagination i:first-child{
    color: var(--para);
}
#article .pagination i:last-child{
    color: #4505FB;
}
#article .pagination p span{
    font-weight: 700;
    color: #4505FB;
    padding: 12px 15px;
    border: 1px solid #4505FB;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
/* Articles Section End */

/* Instagram Section Start */
#instagram{
    padding-bottom: 160px;
}
#instagram .dFlex{
    justify-content: space-between;
}
#instagram .dFlex .left{
    width: 35%;
}
#instagram .dFlex .left .commonTitle{
    margin-top: 10px;
}
#instagram .dFlex .left p{
    line-height: 32px;
    margin: 45px 0 70px;
}
#instagram .dFlex .left .btn{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 23px 21.5px;
    background-color: #4505FB;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#instagram .dFlex .right{
    width: 65%;
}
#instagram .dFlex .right .imageWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 13px;
}
#instagram .dFlex .right .placeholder{
    width: 349px;
    height: 349px;
    background-color: var(--placeholder);
}
/* Instagram Section End */

/* Footer Section Start */
#footer{
    padding-top: 140px;
    background: linear-gradient(to bottom, #D8FBF6, #FFF3F3);
}
#footer .dFlex{
    justify-content: space-between;
    align-items: center;
}
#footer .dFlex ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 60px;
}
#footer .footerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footerInfo p{
    width: 400px;
    line-height: 32px;
}
/* Footer Section End */